@import "./mixins/button.scss";
@import "./mixins/barElement.scss";

window.Bar {
  background: transparent;
  color: $foreground;
  min-height: 24px;

  > centerbox {
    padding-top: 4px;
    padding-bottom: 4px;
    border: $border-width solid $border;
    border-radius: $border-radius + 4;
    background: $background-main;
    margin: 12px 16px 0px 16px;
  }

  .startBox {
    margin-left: 4px;
  }

  .endBox {
    margin-right: 4px;
  }

  .tray {
    button {
      @include button;
    }

    .trayItem {
      padding: 0px;
      image {
        color: $foreground;
      }
    }
  }

  .workspaces {
    @include barElement;

    button {
      @include button;
    }

    .workspace {
      padding: 0px 4px;

      &:hover {
        background-color: unset;
      }
    }

    .selectedWorkspace {
      color: $foreground-selected;
    }
  }

  .barElement {
    @include barElement;
  }

  .focusedClient {
    min-width: 300px;

    .focusedClientClass {
      font-size: 10px;
      color: $foreground-secondary;
    }

    .focusedClientTitle {
      font-size: 10px;
    }
  }

  .barButton {
    @include button;
    padding: 0px 4px;
  }
}
