$background-main: #1d1d20;
$foreground: #deddda;
$foreground-secondary: #5bc8af;
$foreground-selected: #57e389;
$background-item: transparent; // #424242
$background-item-hover: transparent; // #565656
$border: $foreground;
