$background-main: #2e2e2e;
$foreground: #b9b6c7;
$foreground-secondary: #9e8f8f;
$foreground-selected: #ffffff;
$background-item: transparent; // #424242
$background-item-hover: transparent; // #565656
$border: $foreground;
