@import "./mixins/button.scss";
@import "./colors.scss";

$font-size: 14px;
$font-weight: 700;
$border-radius: 12px;
$border-width: 2px;

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: $font-size;
  font-weight: $font-weight;
  outline: none;
  border: none;
}

.icon {
  font-family: "Material Symbols Outlined";
  font-size: 18px;
}

.closeButton {
  @include button;
  color: $foreground;
}

@import "./bar.scss";
@import "./wallpaperPicker.scss";
@import "./system.scss";
