@import "./mixins/button.scss";
@import "./colors.scss";

$font-size: 14px;
$font-weight: 500;
$border-radius: 0px;
$border-width: 0px;
$window-shadow: 0 0px 8px 4px rgba(0, 0, 0, 0.2);

* {
  font-family: "Departure Mono Nerd Font";
  font-size: $font-size;
  font-weight: $font-weight;
  outline: none;
  border: none;
}

.icon {
  font-family: "Departure Mono Nerd Font";
  font-size: 22px;
}

.closeButton {
  @include button;
  color: $foreground;
}

@import "./bar.scss";
@import "./wallpaperPicker.scss";
@import "./system.scss";
