@import "./mixins/button.scss";

window.System {
  background: transparent;
  margin-top: 10px;
  margin-right: 10px;

  .system {
    background-color: $background-main;
    padding: 10px;
    border-radius: $border-radius + 10;
    border: $border-width solid $border;
    color: $foreground;
  }

  .systemButton {
    @include button;
    padding: 10px;
  }
}
