@import "./mixins/button.scss";

window.WallpaperPicker {
  entry {
    border-radius: $border-radius;
    background-color: $background-item;
    outline: none;
  }

  .wallpaperPicker {
    background-color: $background-main;
    padding: 10px;
    border-radius: $border-radius * 2;
    border: $border-width solid $border;
  }

  .wallpaperCard {
    @include button;
  }

  .wallpaper {
    border-radius: $border-radius;
  }

  .wallpaperName {
    color: $foreground;
  }

  .wallpaperPickerButton {
    @include button;
  }
}
