window.WallpaperPicker {
  .wallpaperPicker {
    background-color: $background-main;
    padding: 10px;
    border-radius: $border-radius * 2;
    border: 2px solid $border;
  }

  .wallpaperCard {
    @include button;

    border: 2px solid transparent;
    border-radius: $border-radius;

    &:hover {
      background-color: $background-item;
    }
  }

  .wallpaper {
    border-radius: $border-radius;
  }

  .wallpaperName {
    color: $foreground;
  }

  .wallpaperPickerButton {
    color: $foreground;
  }
}
