* {
    background:        #211d21;
    foreground:        #fbf1c7;
    active:            #b8bb26;
    border:            #d5c4a1;
    selected-text:     #b8bb26;
    background-item:   #3c3836;
    background-active: #6d7017ff;
    foreground-secondary: #978b71;
}
